In [1]:
import numpy as np
import pandas as pd
pd.options.display.max_rows = 999

n = 200
ordersid = np.random.randint(1, 500, size=n)
customerid = np.random.randint(583, 19573, size=n)
dates = pd.date_range('2018-11-29 12:00:00', periods=n, freq=None)
productid = np.random.randint(1, 10, size=n)
products = pd.Series([1,2,3,4,5,6,7,8,9,10])
price = pd.Series([10, 20, 100, 150, 30, 400, 5, 950, 523, 14000])

In [2]:
prod_pric = pd.DataFrame({'ProductId': products, 'Price':price})

In [3]:
pro_ord_pri = pd.DataFrame({'ProductId': productid, 'OrderId':ordersid})

In [4]:
order_lines = pd.merge(pro_ord_pri, prod_pric, how = 'left', on = 'ProductId')

In [5]:
orders = pd.DataFrame({'OrderId' : ordersid, 'CustomerId': customerid, 'DateTime': dates})

- orders содержит информацию о заказах: идентификатор заказа, идентификатор покупателя, время заказа:

OrderId,CustomerId,DateTime

5,583,2017-01-01 15:03:17

13,900,2019-02-05 05:02:59

69,19573,2018-11-03 23:59:59

...

- order_lines содержит информацию о линиях чеков: идентификатор продукта, идентификатор заказа, цену продукта

ProductId,OrderId,Price

5873,5,3026.0

7265,5,573.0

9675,5,159.0

5873,6,2999.0

13,6,57.0

...

1. Постройте отчёт (таблица в виде DataFrame), где видны

самые популярные за последний месяц продукты

суммарная выручка (за последний месяц) по каждому такому продукту

средний чек заказов (за последний месяц), в которых есть такие продукты

### Поехал код

In [6]:
data = pd.merge(orders, order_lines, how = 'left', on = 'OrderId')

In [7]:
from datetime import datetime, timedelta
data = data.set_index(['DateTime'])
curr_date = datetime.today()
#не совсем понятно, что подразумевается под "за последний месяц". За 30 дней? Или за текущий неполный месяц, например за июнь?
#или же за прошлый полный месяц? решено остановиться на варианте за последние 30 дней.
last_date = curr_date - timedelta(days = 30)
data_month = data.loc[last_date:curr_date]
data_month

                     OrderId  CustomerId  ProductId  Price
DateTime
2019-05-18 12:00:00      218        5481          4    150
2019-05-19 12:00:00      423        6693          4    150
2019-05-20 12:00:00      294        7059          2     20
2019-05-20 12:00:00      294        7059          5     30
2019-05-21 12:00:00      487       11790          9    523
2019-05-22 12:00:00      459        9229          4    150
2019-05-22 12:00:00      459        9229          8    950
2019-05-23 12:00:00      395        6602          6    400
2019-05-24 12:00:00      204        7241          4    150
2019-05-25 12:00:00      330       13399          5     30
2019-05-25 12:00:00      330       13399          3    100
2019-05-26 12:00:00      343        4934          5     30
2019-05-27 12:00:00      436        7408          5     30
2019-05-28 12:00:00       86        3499          1     10
2019-05-29 12:00:00      256        1373          4    150
2019-05-30 12:00:00       98       15196          9    523
2019-05-31 12:00:00      264       18255          7      5
2019-06-01 12:00:00      485       17569          2     20
2019-06-02 12:00:00        4       14716          9    523
2019-06-03 12:00:00      283        2347          5     30
2019-06-04 12:00:00      236       15318          8    950
2019-06-04 12:00:00      236       15318          9    523
2019-06-05 12:00:00       58       11838          5     30
2019-06-06 12:00:00      282       12129          9    523
2019-06-07 12:00:00      371        5127          9    523
2019-06-07 12:00:00      371        5127          6    400
2019-06-08 12:00:00      152        4638          3    100
2019-06-09 12:00:00      426        2871          6    400
2019-06-10 12:00:00      411       18558          5     30
2019-06-11 12:00:00      466       15051          3    100
2019-06-12 12:00:00      217       16774          3    100
2019-06-13 12:00:00      352       14227          4    150
2019-06-14 12:00:00      290       10908          6    400
2019-06-14 12:00:00      290       10908          6    400
2019-06-15 12:00:00      468        3925          8    950
2019-06-16 12:00:00      237       12915          5     30
2019-06-16 12:00:00      237       12915          2     20

In [8]:
#в качестве самый популярных продуктов были определены топ-5 продуктов, которые встречаются чаще всего в датафрейме
top_5_prod = data_month['ProductId'].value_counts().iloc[0:5]
top_5_prod = pd.DataFrame(top_5_prod).reset_index().rename(columns = {'index':'ProductId','ProductId':'Frequency'})
top_5_prod = pd.merge(top_5_prod, order_lines, how = 'left', on = 'ProductId')
top_5_prod

     ProductId  Frequency  OrderId  Price
0            5          8      330     30
1            5          8      346     30
2            5          8      237     30
3            5          8      318     30
4            5          8      386     30
5            5          8       55     30
6            5          8      304     30
7            5          8      442     30
8            5          8      401     30
9            5          8      276     30
10           5          8      113     30
11           5          8      421     30
12           5          8      313     30
13           5          8      294     30
14           5          8      343     30
15           5          8      436     30
16           5          8      283     30
17           5          8       58     30
18           5          8      411     30
19           9          6       16    523
20           9          6      126    523
21           9          6      195    523
22           9          6       72    523
23           9          6       63    523
24           9          6       38    523
25           9          6      329    523
26           9          6      482    523
27           9          6      499    523
28           9          6      402    523
29           9          6      149    523
30           9          6      371    523
31           9          6      138    523
32           9          6        6    523
33           9          6      487    523
34           9          6       98    523
35           9          6        4    523
36           9          6      236    523
37           9          6      282    523
38           4          6      164    150
39           4          6      464    150
40           4          6      182    150
41           4          6      496    150
42           4          6      226    150
43           4          6      293    150
44           4          6      442    150
45           4          6      463    150
46           4          6      239    150
47           4          6      241    150
48           4          6      230    150
49           4          6      207    150
50           4          6      190    150
51           4          6       73    150
52           4          6      357    150
53           4          6      281    150
54           4          6      175    150
55           4          6       52    150
56           4          6      299    150
57           4          6      285    150
58           4          6      498    150
59           4          6      459    150
60           4          6      379    150
61           4          6      305    150
62           4          6      462    150
63           4          6      174    150
64           4          6      166    150
65           4          6       62    150
66           4          6      218    150
67           4          6      423    150
68           4          6      204    150
69           4          6      256    150
70           4          6      352    150
71           6          5      175    400
72           6          5      325    400
73           6          5      202    400
74           6          5      160    400
75           6          5      370    400
76           6          5      336    400
77           6          5      365    400
78           6          5      267    400
79           6          5      111    400
80           6          5       74    400
81           6          5      453    400
82           6          5      192    400
83           6          5      299    400
84           6          5      239    400
85           6          5      303    400
86           6          5       23    400
87           6          5      404    400
88           6          5       90    400
89           6          5      290    400
90           6          5      460    400
91           6          5       45    400
92           6          5      242    400
93           6          5      342    400
94           6          5      145    400
95           6          5      396    400
96           6          5       88    400
97           6          5      451    400
98           6          5      327    400
99           6          5      395    400
100          6          5      371    400
101          6          5      426    400
102          6          5      290    400
103          3          4      321    100
104          3          4      316    100
105          3          4      372    100
106          3          4       73    100
107          3          4      284    100
108          3          4      284    100
109          3          4      172    100
110          3          4      220    100
111          3          4       94    100
112          3          4      405    100
113          3          4      140    100
114          3          4      140    100
115          3          4       14    100
116          3          4      421    100
117          3          4      344    100
118          3          4       78    100
119          3          4       34    100
120          3          4       75    100
121          3          4       83    100
122          3          4      366    100
123          3          4       64    100
124          3          4      321    100
125          3          4      142    100
126          3          4      330    100
127          3          4      152    100
128          3          4      466    100
129          3          4      217    100

In [9]:
#выручка определяется как произведение количества товара в заказах и цены товара
revenue = top_5_prod.drop_duplicates(subset = 'ProductId')
revenue['Revenue'] = revenue['Frequency'] * revenue['Price']
revenue = revenue.drop(['Frequency','OrderId','Price'], axis = 1)

C:\Users\HyperPC\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [12]:
pre_table = pd.pivot_table(data_month, 
                       values=['OrderId'], 
                       index=['ProductId'],
                       aggfunc = lambda x: x.value_counts().count())
pre_table = pre_table.rename(columns = {'OrderId':'PurchaseNum'})
top_5_prod = pd.merge(top_5_prod, pre_table, how = 'left', on = 'ProductId')
top_5_prod = pd.merge(top_5_prod, revenue, how = 'left', on = 'ProductId')
#fin_table = pd.pivot_table(top_5_prod, 
#                      values=['AverageBill'], 
#                       index=['ProductId','Revenue','OrderId'],
#                       aggfunc = np.mean)

In [13]:
pre_table

           PurchaseNum
ProductId
1                    1
2                    3
3                    4
4                    6
5                    8
6                    4
7                    1
8                    3
9                    6